<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.More_close"
        android:windowSoftInputMode ="adjustNothing"
        tools:targetApi="31">
        <activity
            android:name=".intro_main"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity">
        </activity>
        <activity
            android:name=".TlistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".minigameMain"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".minigame01">
        </activity>
        <activity
            android:name=".minigame02">
        </activity>
        <activity
            android:name=".minigame03">
        </activity>
        <activity
            android:name=".minigame04">
        </activity>
        <activity
            android:name=".minigame05">
        </activity>
        <activity
            android:name=".minigame06">
        </activity>
        <activity
            android:name=".minigame07">
        </activity>
        <activity
            android:name="Fast_Pay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".Team_pay"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
    </application>

</manifest>